tabs {
  margin: 0px 0px;
}

.stock-index-tile {
  height: 550px;
  text-align: center;
  font-size: 18px;
}

.stock-index-symbol{
  font-size: 22px;
}

.new-stock-label {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.new-stock-input{
  width: 200px !important;
  margin-left: 120px !important;
  text-align: center;
}

.tabs{
  margin-left: 0px;
}

.add-slider {
  margin-left: 59px;
}
