body {
  background-color: #07273A;
  color: #F3F5F6;
  font-size: 100%;
  font-family: "IBM Plex Serif";
}

h1, h2 {
  color: #F3F5F6;
  text-align: center;
  font-family: "IBM Plex Serif";
}

.panel.callout a:not(.button) {
    color: white !important;
}

.top-bar {
  height: 50px;
}

.title-area a {
  font-size: 24px !important;
}

.top-bar-section li {
  font-size: 24px !important;
}

.portfolio-index-wrapper {
  background-color: #07273A;
}

.distribution-chart {
  color: #F3F5F6;
  background-color: #0B3148;
  font-size: 24px;
  text-align: center;
  box-shadow: 7px 6px 0px #adadad;
  max-height: 550px;
}

.pie-chart {
  padding-left: 10%;
  width: 100%;
  margin-top: -76px !important;
  padding-top: 6%;
}

.trend-chart {
  color: #F3F5F6;
  font-size: 24px;
  text-align: center;
  box-shadow: 7px 6px 0px #adadad;
  max-height: 550px;
}

.line-chart {
  margin-top: -50px;
}

.greetings {
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #258790;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 10px;
  box-shadow: 7px 6px 0px #103b3f;
}

.log-in{
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #175682;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 30px;
  margin-bottom: 25px;
}

.log-in-btn, .stocks-btn {
  background-color: #0d3048;
  margin-top: 25px;
  margin-right: 25px;
  width: 200px;
}

.sign-up-btn, .coins-btn {
  background-color: #0d3048;
  margin-top: 25px;
  width: 200px;
}

.stocks-list {
  text-align: center;
  font-size: 24px;
  box-shadow: 7px 6px 0px #adadad;
}

.portfolio-index-tile {
   text-align: center;
   font-size: 24px;
   box-shadow: 7px 6px 0px #adadad;
   min-height: 260px;
}

 .portfolio-index-tile:hover {
   background-color: #07273A !important;
   color: #F3F5F6 !important;
   border-width: thin !important;
   border-color: #E6D752 !important;
}

.fa-arrow-alt-circle-up {
  color: #1E7C86;
}

.fa-arrow-alt-circle-down {
  color: #EE4447;
}

.pie-title {
  font-size: 30px;
  padding-top: 39px;
  padding-bottom: 0px;
}

.first-time {
  height: 300px;
  width: 100%;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 125px;
  margin-bottom: 10px;
  box-shadow: 7px 6px 0px #adadad;
}

.first-time-title {
  padding-top: 75px;
}
