.stock-title-box, .show-chart {
  box-shadow: 7px 6px 0px #adadad;
}

.stock-title {
  color: #F3F5F6 !important;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: #258790 !important;
  padding-top: 75px !important;
  padding-bottom: 75px !important;
  margin-bottom: 10px !important;
  border-color: #258790 !important;
  box-shadow: 7px 6px 0px #103b3f;
}

.stock-title h1 {
  color: #F3F5F6 !important;
}

.stock-show-panel, .investment-show-panel {
  height: 400px;
  font-size: 18px;
  text-align: center;
  box-shadow: 7px 6px 0px #adadad;
}

.edit-stock-form {
  text-align: center;
}

.edit-slider {
  position: absolute;
  margin-left: 22% !important;
  margin-top: 3% !important;
}

.edit-rc-slider {
  position: relative;
  margin: auto auto !important;
  text-align: center !important;
}

.edit-button {
  margin-right: 25px;
}

.news-panel, .review-panel {
  text-align: center;
  box-shadow: 7px 6px 0px #adadad;
}

.edit-button-set {
  padding-top: 7.5%;
}

.red {
  color: #EE4447;
}

.green {
  color: #1E7C86;
}

.review-box {
  margin: 5% 5% !important;
}

.review-username {
  text-align: left;
}

.review-date {
  text-align: right;
}

.review-button {
  margin-top: 5% !important;
  margin-bottom: 0px;
}

.review-textarea {
  width: 75%;
  margin: auto auto;
}
